[Unit]
Description=Guacamole Pod
After=network-online.target

[Service]
Type=simple
Restart=always
TimeoutStartSec=300
ExecStartPre=-/usr/bin/podman pod rm -f guacamole-pod
ExecStartPre=/usr/bin/podman pod create --name guacamole-pod -p 8080:8080 -p 4822:4822
ExecStart=/bin/sleep infinity
ExecStop=/usr/bin/podman pod stop guacamole-pod
ExecStopPost=/usr/bin/podman pod rm -f guacamole-pod

[Install]
WantedBy=default.target
