[Unit]
Description=Rustic backup to GCS
Wants=network-online.target
After=network-online.target

[Service]
Type=oneshot
ExecStart=/usr/bin/rustic backup
Environment="HOME=/home/walker"

[Install]
WantedBy=default.target
